@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/Lato-Black.woff) format('woff');
}
@font-face {
  font-family: 'Lustria';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), url(../fonts/Lustria.woff) format('woff');
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.main-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
  opacity: 0.5;
  -webkit-transform: translateZ(0px);
  z-index: 100000;
}
.slides {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.carousel-control {
  background: transparent;
  background-image: none !important;
}
.carousel-control span {
  background: #ccc;
  border-radius: 5px;
}
body.presentation {
  overflow: hidden;
}
.presentation .site-only,
.presentation .speaker-notes {
  display: none !important;
}
.presentation .step {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.presentation .container {
  width: auto;
  padding: 0;
}
.presentation .slides {
  position: relative;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}
.presentation .slides > li {
  width: 100%;
  height: 100%;
  border-bottom: SOLID 1px #ccc;
}
.presentation .slides > li > div {
  height: 100%;
}
.presentation .slides h1 {
  font-size: 50px;
}
.presentation .slides .title {
  font-family: Lustria;
  background: #3498db;
  color: white;
}
.presentation .slides .title .col-lg-6 {
  width: 100%;
}
.presentation .slides .title h1 {
  margin-top: 15% !important;
  font-size: 80px;
  font-weight: bold;
}
.presentation .slides .title h3 {
  font-size: 30px;
}
.presentation .slides .title .author {
  text-align: center;
  margin-top: 15%;
  font-size: 50px;
}
.presentation .slides .why-performance h1 {
  margin-top: 15% !important;
}
.presentation .slides .why-performance span {
  font-size: 300px;
  margin-top: 100px;
}
.presentation .slides .what-regression {
  background: white;
}
.presentation .slides .what-regression h1 {
  position: relative;
  top: 40%;
  font-family: Lustria;
  font-size: 4em;
}
.presentation .slides .what-regression .trollface {
  margin: auto;
  width: 30% !important;
  height: 30% !important;
  background-size: contain !important;
  border: none;
}
.presentation .slides .what-regression .row {
  height: 100%;
  width: 100%;
}
.presentation .slides .what-regression .row > div.col-lg-4 {
  position: absolute;
  padding: 0;
  background: white;
  width: 100%;
  left: 0%;
  height: 100%;
  color: #000;
  margin-top: -100px;
}
.presentation .slides .what-regression .row > div.col-lg-4 h4 {
  font-size: 60px;
  position: absolute;
  top: 0;
  width: 98%;
  padding: 10px 0;
}
.presentation .slides .what-regression .row > div.col-lg-4 p {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 98%;
  font-weight: 700;
  font-size: 30px;
}
.presentation .slides .what-regression .row > div.col-lg-4 p:before {
  background: #efefef;
  content: "";
  width: 100%;
  height: 100%;
}
.presentation .slides .what-regression .row > div.col-lg-4 h4,
.presentation .slides .what-regression .row > div.col-lg-4 p {
  width: 100%;
  opacity: 0.6;
  margin: 0;
  color: #000;
  background-color: white;
}
.presentation .slides .what-regression .row > div.col-lg-4 .images {
  width: 100%;
  height: 100%;
}
.presentation .slides .what-regression .row > div.col-lg-4 img.slide-only {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.presentation .slides .fixing-regressions {
  background: #3498db;
}
.presentation .slides .fixing-regressions .content {
  height: 100%;
}
.presentation .slides .fixing-regressions h1 {
  font-family: Lustria;
  font-weight: 700;
  color: #fff;
}
.presentation .slides .fixing-regressions .tab-content {
  width: 100%;
  height: 80%;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin-top: -85px;
  padding-top: 85px;
  position: relative;
}
.presentation .slides .fixing-regressions .tab-content .tab-pane {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  background: #fafafa;
}
.presentation .slides .fixing-regressions .tab-content h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}
.presentation .slides .fixing-regressions .tab-content #tools .row {
  margin: 0;
}
.presentation .slides .fixing-regressions .tab-content #tools .row .col-md-4 {
  width: 80%;
  position: absolute;
  margin: 0 10%;
}
.presentation .slides .fixing-regressions .tab-content #tools .row .col-md-4:first-child {
  -webkit-transform: rotate(10deg);
}
.presentation .slides .fixing-regressions .tab-content #tools .row .col-md-4:last-child {
  -webkit-transform: rotate(-7deg);
}
.presentation .slides .fixing-regressions .tab-content #tools .row .col-md-4 a {
  background: transparent;
  border: none;
}
.presentation .slides .fixing-regressions .tab-content #tools .row .col-md-4 a img {
  border: SOLID 1px #333;
}
.presentation .slides .fixing-regressions .tab-content #rules ul,
.presentation .slides .fixing-regressions .tab-content #rulestools ul {
  margin: 0 10%;
}
.presentation .slides .fixing-regressions .tab-content .faded {
  opacity: 0.2;
  color: #cccccc;
}
.presentation .slides .rendering-perf h3 {
  background: #3498db;
  color: white;
  padding: 10px;
  margin: 0;
}
.presentation .slides .rendering-perf .browsers {
  padding: 0;
  margin-top: 50px;
}
.presentation .slides .rendering-perf .browsers li {
  padding: 10px 0 0 0;
  margin: 0 5px;
  padding: 5px;
  border: solid 5px #666;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}
.presentation .slides .rendering-perf .browsers li .img {
  display: block;
  height: 80px;
  width: 80px;
  background-image: url('../img/browsers.png');
  background-repeat: no-repeat;
  background-size: 240px;
  border: none;
  margin-bottom: 0;
  background-position: 0px;
  background-color: transparent;
}
.presentation .slides .rendering-perf .browsers li .img.ie {
  background-position: -160px 0px;
}
.presentation .slides .rendering-perf .browsers li .img.chrome {
  background-position: -80px 0px;
}
.presentation .slides .rendering-perf .browser-perf-tool {
  width: 80%;
  margin: -10px 10% 10px 10%;
  border: SOLID 5px #666;
  padding: 5px 0 10px 0;
  border-radius: 100px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fefefe;
}
.presentation .slides .rendering-perf .browser-perf-tool h1 {
  font-family: Lustria;
  font-weight: bold;
}
.presentation .slides .rendering-perf .browser-perf-tool ol {
  width: 80%;
  font-size: 20px;
  text-align: left;
  margin: 20px auto;
  list-style: none;
  text-align: center;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li {
  display: inline-block;
  color: white;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li:after {
  width: 0;
  height: 0;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
  border-left: 30px solid #5cb85c;
  content: "";
  display: inline-block;
  position: relative;
  top: 24px;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li:first-child:after {
  border-left: 30px solid #f0ad4e;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li:first-child em {
  background-color: #f0ad4e;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li:last-child:after {
  border-left: 30px solid #d9534f !important;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li:last-child em {
  background-color: #d9534f;
}
.presentation .slides .rendering-perf .browser-perf-tool ol li em {
  background-color: #5cb85c;
  padding: 20px;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  height: 20px;
}
.presentation .slides .rendering-perf .perfjankie,
.presentation .slides .rendering-perf .couchdb {
  border: SOLID 5px #666;
  padding: 10px;
  width: 80%;
  margin: 10px 10%;
  background: white;
}
.presentation .slides .graphs .carousel {
  height: 100%;
}
.presentation .slides .graphs .carousel .carousel-inner {
  height: 100%;
}
.presentation .slides .graphs .carousel .carousel-inner > .item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
}
.presentation .slides .demo h1 {
  font-size: 80px;
  font-family: Lustria;
  margin-top: 20px;
}
.presentation .slides .demo .tardis {
  text-align: center;
  margin-top: 10%;
  width: 200px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 20;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-direction: normal;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: 20;
  -moz-animation-name: blink;
  -moz-animation-timing-function: ease-in-out;
}
.presentation .slides .commit-list .container {
  text-align: left;
  width: 70%;
  margin: 50px auto;
}
.presentation .slides .commit-list .container .output {
  margin: 10px 0 0 20px;
}
.presentation .slides .commit-list .container .output li {
  font-size: 2em;
}
.presentation .slides .commit-list .container .output li.empty {
  list-style: none;
  margin: 30px 0;
}
.presentation .slides .results {
  background-color: white;
}
.presentation .slides .results h1 {
  margin: 30px 0 30px 0;
  font-family: Lustria;
}
.presentation .slides .results ul {
  width: 70%;
  margin: 50px auto;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
}
.presentation .slides .results ul li {
  margin: 10px 0;
}
.presentation .slides .results ul.sub-list {
  width: 90%;
  margin: auto;
}
.presentation .slides .use-it {
  width: 80%;
  margin: auto;
}
.presentation .slides .use-it p {
  font-size: 2em;
  margin: 70px 0;
}
.presentation .slides .use-it img {
  height: 60px;
  margin: -10px 10px;
}
.presentation .slides .use-it img[src='img/npm.png'] {
  height: 40px;
}
.presentation .slides .thankyou {
  background-color: white;
}
.presentation .slides .thankyou .row {
  margin: 70px 0 0 0;
}
.presentation .slides .thankyou .row div:first-child {
  border-right: 4px #ccc solid;
}
.presentation .slides .thankyou .row div:first-child h1 {
  font-size: 40px;
}
.presentation .slides .thankyou .row div h1 {
  margin: 70px 0 70px 0;
  font-size: 50px;
  font-family: Lustria;
}
.presentation .slides .thankyou .row div ul {
  text-align: center;
  width: 60%;
  margin: 10px auto 30px auto;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
}
.presentation .slides .thankyou .row div ul li {
  text-align: center;
}
.presentation .slides .thankyou .row div ul li img {
  width: 25px;
  height: 25px;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.site .slide-only {
  display: none !important;
}
.site .step {
  opacity: 1 !important;
}
.site .slides > li {
  margin-bottom: 40px;
}
.site .slides .title {
  background-color: #3498db;
  margin-top: -20px;
  padding-top: 200px;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.site .slides .title h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1px;
}
.site .slides .title h3 {
  font-weight: 300;
}
.site .slides .why-performance,
.site .slides .what-regression {
  text-align: center;
}
.site .slides .why-performance h1,
.site .slides .what-regression h1 {
  font-weight: 300;
}
.site .slides .what-regression h1 {
  margin-bottom: 30px;
}
.site .slides .what-regression .row .col-lg-4 {
  background-image: none !important;
}
.site .slides .what-regression img {
  height: 200px;
  padding: 10px;
}
.site .slides .fixing-regressions {
  width: 100%;
  background: white;
  box-shadow: 0 0 20px #000;
  padding: 3em;
}
.site .slides .fixing-regressions > div {
  width: 80%;
  margin: auto;
}
.site .slides .fixing-regressions .tool {
  height: 200px;
}
.site .slides .fixing-regressions .tool.chrometool {
  -webkit-transform: translateY(20px) rotate(-10deg);
  transform: translateY(20px) rotate(-10deg);
}
.site .slides .fixing-regressions #wisdom {
  text-align: center;
}
.site .slides .fixing-regressions #wisdom img {
  height: 200px;
  margin: 2em;
}
.site .slides .rendering-perf h3 {
  font-size: 3em;
}
.site .slides .graphs {
  text-align: center;
}
.site .slides .graphs img {
  border: SOLID 3px #ccc;
}
.site .slides .use-it p:before {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  font-weight: bold;
  margin: 0 20px;
}
.site .slides .use-it img {
  height: 25px;
}
.site .slides .thankyou {
  font-family: Lustria;
}
.site .slides .thankyou h3 {
  font-size: 40px;
}
.site .slides .thankyou .row div {
  width: 100%;
}
.site .slides .thankyou .row div h1 {
  font-size: 24px;
}
.site .slides .thankyou .row div li {
  font-size: 18px;
}
.site .slides .thankyou .contact {
  width: 20px;
  height: 20px;
}
.scrollCount {
  -webkit-transform: translateZ(0);
  position: fixed;
  top: 1%;
  right: 0;
  box-shadow: 0 0 10px 3px rgba(55, 55, 55, 0.5);
  padding: 1%;
  background: white;
}
