<div class = "after-measure container">
	<h1>Measurements done, now what ?</h1>
	<p class = "speaker-notes">
		Fixing regressions usually is by measuring the performance problems.
	</p>
	<ul class = "list-group">
		<li class="step list-group-item">
			<span class = "number">1</span>
			Run the tests again
			<span class = "step">and again</span>
			<span class = "step">and again</span>
			<span class = "step">and ...</span>
		</li>
		<li class="step list-group-item">
			<span class = "number">2</span>
			You have the data, you may as well save it
		</li>
		<li class="step list-group-item">
			<span class = "number">3</span>
			Record it the next time you deploy <span class = "step">and everytime you deploy</span>
		</li>
		<li class="step list-group-item">
			<span class = "number">4</span>
			Graph the data since you already have historical data
		</li>
		<li class="step list-group-item">
			<span class = "number">5</span>
			Well, now that you are doing it again anyway <span class = "">why not add it to continuous integration</span>
		</li>
	</ul>
</div>