<div class = "browser-perf container">
	<p class = "speaker-notes">
		This presentation is about browser rendering performance, and using variaous techniques to automate the collection of browser rendering performance metrics. <a href = "http://npmjs.org/package/browser-perf">browser-perf</a> is a tool that can help you measure browser rendering performance. 
	</p>
	<h1>browser-perf</h1>
	<ol>
		<li class = "step">
			<span class = "speaker-notes">Run Selenium</span> <em>Actions</em>
		</li>
		<li class = "step">
			<span class = "speaker-notes">Read Data from</span> <em>Probes</em>
		</li>
		<li class = "step">
			<span class = "speaker-notes">Process to get</span>
			<em>Metrics</em>
		</li>
	</ol>
	<div class = "row">
		<div class = "step col-lg-4">
			Selenium scripts, user scenarios
			<br/>
			Scroll a product page, checkouts
			<br/>
			Saucelabs, Selenium grid, Android
		</div>
		<div class = "step col-lg-4">
			Data collected from sources like
			<br/>
			Chrome Dev timelines, about:tracing
			<br/>
			IE UI Responsiveness, XPerf, WPA
		</div>
		<div class = "step col-lg-4">
			Metrics like
			<br/>
			Layouts, Paints and Compositions
			<br/>
			mean frame time, load times, etc
		</div>
	</div>
</div>