<div class = "fixing-everytime container">
  <div class = "content">
    <h1>Fixing Performance Regressions - Everytime</h1>
    <div class = "row">
      <div class = "col-md-6 text-left">
        <ul>
          <li>Run profiling for every commit - look for perf anit-patterns</li>
          <li>Can this manual task be automated ? </li>
          <li>Once automated, can it be added to continuous integration</li>
        </ul>
      </div>
      <div class = "col-md-6">
        <img class = "step" src = "img/automation.png" source = "http://xkcd.com/1319/"/>
      </div>
    </div>
  </div>
</div>