<div class = "commit-list container">
	<h1>Performance Changes over 5 commits</h1>
	<div class = "container">
		<ol class = "output">
			<li>Basic version of the site with bootstrap</li>
			<li>Responsive images, hide unnecessary content</li>
			<li class = "sep">Expensive Scroll handler</li>
			<li>Delegation to requestAnimationFrame, CSS3D transforms</li>
			<li class = "sep">Social Button - third party scripts</li>
		</ol>
	</div>
</div>