<div class = "demo">
	<div class = "container">
		<h1>Demo time</h1>
		<p class = "speaker-notes">
			To try out the demo, get the source code at
			<br/>
			<code>git clone <a href = "<%= repository.url %>"><%= repository.url %></a></code>
			<br/>
			and follow the steps.
			<br/>
			Check out the README.md file in the project for more information about setting up the dev environment.
		</p>
	</div>
</div>