<div class = "demo container">
	<img class = "slide-only tardis" src = "img/tardis.png"/>
	<h1>Demo time</h1>
	<p class = "speaker-notes">
		To try out the demo, get the source code at <%= repository.url %> and follow the steps. 
		<br/>Check out the README.md file in the project for more information about setting up the dev environment.
	</p>
</div>