<div class = "demo container">
	<h1>Demo time</h1>
	<ul class = "list-unstyled well">
		<li><h3>Revert to basic version</h3></li>
		<li>&lambda; <code>git clone https://github.com/axemclion/perfslides</code></li>
		<li>&lambda; <code>git checkout master~5 --hard</code></li>
		<li><h3>Run baseline tests</h3></li>
		<li>&lambda; <code>browser-perf --verbose http://localhost:8080/</code></li>
	</ul>
</div>