<div class = "demo">
	<div class = "container">
		<h1>Demo time</h1>
		<div class = "speaker-notes">
			Trying out browser-perf and perfjankie are very simple. This project uses both the tools to look at performance impact across 5 commits.
			<br/>
			To run this, simply clone this repository using<code>git clone <a href = "<%= repository.url %>"><%= repository.url %></a></code>
			<br/>
			<br/>
			Check out the README.md file in the project for more information about setting up the dev environment and running the tests on your environment. 
			<br/>
		</div>
	</div>
</div>