<div class = "container graphs">
	<h1 class = "site-only">Performance Graphs</h1>
	<div id = "graphs-carousel" class="carousel" data-ride="carousel">
      <ol class="carousel-indicators site-only">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active step">
          <img src="img/topcoat.png">
        </div>
        <div class="item step">
          <img src="img/bootstrap.png">
        </div>
      </div>
      <a class="left carousel-control site-only" href="#graphs-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control site-only" href="#graphs-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
</div>