<div class = "perfjankie container">
	<h2 class = "step1">Caveats</h2>
	<ul class = "step1 caveats">
		<li>Microbenchmarks are dangerous</li>
		<li>Selenium driver eats up some time</li>
		<li>Data over time is better than absolute points</li>
		<li>Not all data is useful</li>
	</ul>
	<hr/>
	<div class = "row">
		<div class = "col-lg-6">
			<h1>perfjankie</h1>
			<h3>CouchApp that saves the data, displays the graphs</h3>
			<p class = "speaker-notes">
				Saves data from browser-perf in a CouchDB like database. Also responsible for serving HTML, CSS and JS for displaying the graphs - everything at one place !!
			</p>
		</div>
		<div class = "col-lg-6">
			<h1>Phantomas</h1>
			<h3>Runs tests on PhantomJS</h3>
			<p class = "speaker-notes">A tool that runs on PhantomJS and collects more metrics !!</p>
		</div>
	</div>

</div>