<div class = "perfmonkey container">
	<div class = "row">
		<div class = "col-lg-6">
			<img src = "img/qr.png" class = "slide-only"/>
			<h2>http://slides.perfmonkey.com</h2>
		</div>
		<div class = "col-lg-6">
			<h1>perfmonkey.com</h1>
			<ul class = "list-unstyled">
				<li>Performance as a service</li>
				<li>Integrate into your CI by calling a URL</li>
				<li>Get performance results over time</li>
			</ul>
			<a class = "btn btn-lg btn-success" href = "http://perfmonkey.com">
				Try Perfmonkey now
				<span class = "glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>