<div class = "results container">
	<h1>Looking at the results again</h1>
	<ul>
		<li class = "step">Lots of interesting data</li>
		<li class = "step">Profiling performance continuously is better</li>
		<li class = "step">Performance over time can help catch regression</li>
		<li class = "step">Adding perf profiling to continuous integration is not hard</li>
	</ul>
	<hr/>
	<h1 class = "step">Watch out for</h1>
	<ul>
		<li class = "step">Too much data, not all data is useful</li>
		<li class = "step">Microbenchmarks are bad, look for consistant data</li>
		<li class = "step">Selenium adds to time in the metrics</li>
	</ul>
</div>