<div class = "results container">
	<h1>Looking at the results again</h1>
	<ul>
		<li class = "step">
			Adding rendering perf profiling to continuous integration is not hard
		</li>
		<li class = "step">Graphs over time help identify offending code segments</li>
		<li class = "step">
			Beware of Microbenchmarks
			<ul class = "sub-list">
				<li class = "step">Selenium scripts adds to time taken</li>
				<li class = "step">Browsers try to optimize the best they can</li>
				<li class = "step">Impact of other things like system load, caches, etc</li>
			</ul>
		</li>
		<li class = "step">
			Lots of interesting data
			<span class = "step">, but not all data is useful</span>
		</li>
	</ul>
</div>