<div class = "takeaways container">
	<h1>Takeaways</h1>
	<ul>
		<li class = "step">Profiling performance is good</li>
		<li class = "step">Profiling performance continuously is better</li>
		<li class = "step">Performance over time can help catch regression</li>
		<li class = "step">Adding perf profiling to continuous integration is not hard</li>
	</ul>
</div>