<div class = "takeaways container">
	<h1>Takeaways</h1>
	<ul>
		<li class = "step">Profiling performance is good</li>
		<li class = "step">Profiling performance continuously is better</li>
		<li class = "step">Performance over time can help catch regression</li>
		<li class = "step">Adding perf profiling to continuous integration is not hard</li>
	</ul>
	<hr/>
	<div class = "site-only">
		<h1>Try it out now!</h1>
		<h3>Try out performance metrics for your website</h3>
		<p>
			You would need a
			<a href = "https://github.com/axemclion/browser-perf/wiki/Setup-Instructions#selenium-setup">local</a>
			Selenium setup. Install browser-perf globally using
			<code>npm install -g browser-perf</code>
			and then use the
			<a href = "https://github.com/axemclion/browser-perf/wiki/Command-Line-Usage#command-line">instructions</a>
			to run it on the command line.
		</p>
		<h3>Add performance measurement to your Grunt file</h3>
		<ul>
			<li>
				Install
				<a href = "http://npmjs.org/package/perfjankie">perfjankie</a>
				from npm
			</li>
			<li>
				Install
				<a href = "http://couchdb.apache.org/">Apache CouchDB</a>
			</li>
			<li>
				Set up Selenium
				<a href = "https://github.com/axemclion/browser-perf/wiki/Setup-Instructions#selenium-setup">locally</a>
				, or connect to a service
			</li>
			<li>
				Look at this project's
				<a href = "https://github.com/axemclion/perfslides/blob/master/Gruntfile.js">grunt file</a>
				, and include the perfjankie task.
			</li>
		</ul>
		<h3>As a service - perfmonkey.com</h3>
		<p>
			<a href = "http://perfmonkey.com">Perfmonkey.com</a>
			is a service that does all the above. Just CURL a URL everytime your deploy and perfmonkey.com will run the performance tests and give you the results on a dashboard.
			<br/><br/>
			<a class = "btn btn-success btn-large" href = "http://perfmonkey.com">Try perfmonkey.com now &raquo;</a>
		</p>
	</div>
</div>