<div class = "title">
	<div class = "container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Automating Web Performance Metrics</h1>
				<h3>and making it a part of continuous integration</h3>
			</div>
			<div class="col-lg-6">
				<img class="img-responsive site-only" src="img/ipad-hand.png" alt="">
			</div>
		</div>
		<h2 class = "slide-only author">
			@nparashuram
		</h2>
	</div>
</div>