<div class = "title">
	<div class = "container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Automating Front End Performance</h1>
				<h3>and making it a part of continuouz integration</h3>
			</div>
			<div class="col-lg-6">
				<img class="img-responsive site-only" src="img/ipad-hand.png" alt="">
			</div>
		</div>
		<div class = "slide-only author">
			<%= author %>
		</div>
	</div>
</div>