<div class = "use-it container">
	<h1>Can I use ?</h1>
	<div>
		<p class = "step">
			Install browser-perf from
			<img src = "img/npm.png"/>
			. Run it from the
			<img src = "img/terminal.png"/>
			or add it to a CI system like
			<img src = "img/jenkins.png"/>
			.
		</p>

		<p class = "step">
			Alternatively, add perfjankie task into
			<img src = "img/grunt.png"/>
			build process.
			<br/>
			All data and HTML/JS for the graphs are saved in
			<img src = "img/couchdb.png"/>
			.
		</p>
		<p class = "step">
			Tests are run using
			<img src = "img/selenium.png"/>
			locally, or using services like
			<img src = "img/saucelabs.png"/> or <img src = "img/browserstack.png"/>
		</p>
		<p class = "step">Existing Selenium tests can also be reused to collect metrics from <img src = "img/browsers.png"/></p>
	</div>
</div>