<div>
	<h1>How do I get it for my site? </h1>
	<div>
		<h1>Try it out now!</h1>
		<h3>Try out performance metrics for your website</h3>
		<p>
			You would need a
			<a>local</a>
			Selenium setup. Install browser-perf globally using
			<code>npm install -g browser-perf</code>
			and then use the
			<a>instructions</a>
			to run it on the command line.
		</p>
		<h3>Add performance measurement to your Grunt file</h3>
		<ul>
			<li>
				Install
				<a>perfjankie</a>
				from npm
			</li>
			<li>
				Install
				<a>Apache CouchDB</a>
			</li>
			<li>
				Set up Selenium
				<a>locally</a>
				, or connect to a service
			</li>
			<li>
				Look at this project's
				<a>grunt file</a>
				, and include the perfjankie task.
			</li>
		</ul>
		<h3>As a service - perfmonkey.com</h3>
		<p>
			<a>Perfmonkey.com</a>
			is a service that does all the above. Just CURL a URL everytime your deploy and perfmonkey.com will run the performance tests and give you the results on a dashboard.
			<br/><br/>
			<a>Try perfmonkey.com now &raquo;</a>
		</p>
	</div>
</div>