<div class = "container what-regression">
	<h1>Why does a site get slow</h1>
	<div class="row">
		<div class="col-lg-4 step">
			<img  style="background-image: url(img/onecommit.jpg)" class = "slide-only" source = "http://livingfitlovinglife.com/wp-content/uploads/2013/10/istock_end-of-the-rope1.jpg"/>
			<img style="background-image: url(img/trollface-big.png)" class = " step trollface slide-only" source="http://openclipart.org/detail/146953/troll-face---problem-by-master-sayien">
			<img src="img/trollface.png" class = "site-only" source="http://openclipart.org/detail/146953/troll-face---problem-by-master-sayien">
			<h4>One commit</h4>
			<p>
				On a friday night by that, in the file no one touches,
				<br/>
				by that one guy !!
			</p>
		</div>

		<div class="col-lg-4 step">
			<img style="background-image: url(img/overtime.jpg)" class = "slide-only" source = "http://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Overloaded_truck.jpg/1280px-Overloaded_truck.jpg"/>
			<img src="img/time.png" class = "site-only" source = "http://upload.wikimedia.org/wikipedia/commons/2/23/Flat_UI_-_time.png">
			<h4>
				<span class = "slide-only">Added</span>
				Over time
			</h4>
			<p>With great code comes great performance problems</p>
		</div>

		<div class="col-lg-4 step">
			<img  style="background-image: url(img/clueless.jpg)" class = "slide-only" source = "http://www.flickr.com/photos/plasticrevolver/164351244/in/photostream/"/>
			<img src="img/heinsenbug.png" class = "site-only" source="http://openclipart.org/image/300px/svg_to_png/190578/forbidden-for-heisenbugs.png">
			<h4>No clue</h4>
			<p>What just happened ?</p>
		</div>
	</div>
</div>