<div class="what-is-perf container">
	<div class = "speaker-notes">A fast website should</div>
	<!-- TODO -->
	1. Deliver the page as fast as possible (spiderman pizza)
	2. Page should interact as fast as possible (bad pizza image)
	<!-- TODO -->
</div>