<div class = "container what-regression">
	<h1>Why does a page get slow ?</h1>
	<div class="row">
		<div class="col-lg-6 bg step">
			<div class = "images slide-only">
				<div  style="background-image: url(img/onecommit.jpg)" class = "slide-only img" source = "http://livingfitlovinglife.com/wp-content/uploads/2013/10/istock_end-of-the-rope1.jpg"></div>
				<div style="background-image: url(img/trollface-big.png)" class = "slide-only img step trollface" source="http://openclipart.org/detail/146953/troll-face---problem-by-master-sayien"></div>
			</div>
			<img src="img/trollface.png" class = "site-only" source="http://openclipart.org/detail/146953/troll-face---problem-by-master-sayien"/>
			<h4>One commit</h4>
			<p>
				On a friday night by that, in the file no one touches,
				<br/>
				by that one guy !!
			</p>
		</div>

		<div class="col-lg-6 bg step">
			<div style="background-image: url(img/overtime.jpg)" class = "slide-only img" source = "http://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Overloaded_truck.jpg/1280px-Overloaded_truck.jpg"></div>
			<img src="img/time.png" class = "site-only" source = "http://upload.wikimedia.org/wikipedia/commons/2/23/Flat_UI_-_time.png"/>
			<h4>Added Over time</h4>
			<p>With great code comes great performance problems</p>
		</div>
		<div class="bg step">
			<div class = "images slide-only">
				<div style="background-image: url(img/weeping-angels-closed.jpg)" class = "img slide-only" source = "http://www.flickr.com/photos/plasticrevolver/164351244/in/photostream/"></div>
				<div style="background-image: url(img/weeping-angels-scary.jpg)" class = "img slide-only step" source = "http://www.flickr.com/photos/plasticrevolver/164351244/in/photostream/"></div>
				<div style="background-image: url(img/kitten.jpg)" class = "img  slide-only step" source = "http://www.flickr.com/photos/plasticrevolver/164351244/in/photostream/"></div>
			</div>

			<h4>
				<span>Don't Blink</span>
			</h4>
			<p>
				Don't turn your back. Don't look away.
				<br/>
				And don't blink. Good Luck.
			</p>
		</div>
	</div>
</div>