<div class = "why-performance container">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>Why care about performance ?</h1>
		<div class = "site-only">
			Studies have shown that performance has direct relevance to user retention and revenue. 
		</div>
		<div class = "slide-only step">
			<span class = "glyphicon glyphicon-forward"></span>
		</div>
	</div>
</div>