<div class = "why-performance container">
	<div class = "row">
		<div class="col-lg-6 col-lg-offset-3">
			<h1>Why care about performance ?</h1>
			<div class = "slide-only step">
				<span class = "glyphicon glyphicon-forward"></span>
			</div>
		</div>
	</div>
	<div class = "speaker-notes row">
		<div class = "col-lg-6 text-left">
			<p>
				Webpage performance influences user experience and has direct impact on user engagement. Studies have shown strong correlation between revenue web performance.
			</p>
			<p>
				Delivering the web page as soon as possible and then ensuring that the user interacts smoothly with the web page are key to a good user experience.  
			</p>
		</div>
		<div class = "col-lg-6">
			<blockquote>
				<p>
					We did a test where we artificially [slowed the framerate from 60fps to 30fps], and engagement collapsed.
				</p>
				<footer>
					<cite>Shane O' Sullivan</cite>
					, Facebook
					<a slides = "Video" target = "_blank" href = "https://www.youtube.com/watch?v=3-WYu_p5rdU#t=35m57s">
						<span class = "glyphicon glyphicon-facetime-video"></span>
					</a>
				</footer>
			</blockquote>
			<blockquote>
				<p>
					Etsy tested tested pre-fetching JS in search results page, which caused jank... All business metrics we monitored got much worse.
				</p>
				<footer>
					<cite>Jonathan Klein</cite>
					, Etsy
					<a title = "Presentation" target = "_blank" href="http://www.slideshare.net/jnklein/edge-conf-rendering-performance-panel">
						<span class = "glyphicon glyphicon-edit"></span>
					</a>
				</footer>
			</blockquote>
		</div>
	</div>
</div>