<div class = "why-performance container">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>Why care about performance ?</h1>
		<h3 class = "site-only">A fast and smooth site always delights the customer</h3>
		<p class = "site-only">
			which converts to more revenue, more user engagement, better page ranks, consumes lesser resources ...
		</p>
		<div class = "slide-only step">
			<span class = "glyphicon glyphicon-forward"></span>
		</div>
	</div>
</div>