body.presentation {
	overflow: hidden;
}
.presentation {
	.site-only, .speaker-notes {
		display: none !important;
	}
	.step {
		opacity: 0;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
	.container {
		width: auto;
	}
	.slides {
		position: relative;
		top: 0%;
		width: 100%;
		height: 100%;
		text-align: center;
		-webkit-transition: 1s;
		transition: 1s;
		&>li {
			width: 100%;
			height: 100%;
			border-bottom: SOLID 1px #ccc;
			&>div {
				height: 100%;
			}
		}
		h1 {
			font-size: 50px;
		}
		.title {
			font-family: Lustria;
			background: #3498db;
			color: white;
			.col-lg-6 {
				width: 100%;
			}
			h1 {
				margin-top: 15% !important;
				font-size: 80px;
				font-weight: bold;
			}
			h3 {
				font-size: 30px;
			}
			.author {
				text-align: center;
				font-size: 20px;
				margin-top: 15%;
			}
		}
		.why-performance {
			h1 {
				margin-top: 15% !important;
			}
			span {
				font-size: 300px;
				margin-top: 100px
			}
		}
		.what-regression {
			background: white;
			h1 {
				margin-top: 50px;
			}
			.trollface{
				margin: auto;
				width: 50% !important;
				height: 50% !important;
				background-size: contain !important;
				box-shadow: none;
				border: none;
			} 

			.row {
				&>div.col-lg-4 {
					padding: 0;
					margin-top: -20px;
					position: absolute;
					background: white;
					width: 60%;
					left: 20%;
					height: 80%;
					box-shadow: 0 0 20px 3px #000;
					color: #000;
					h4 {
						font-size: 60px;
						position: absolute;
						width: 98%;
					}
					p {
						position: absolute;
						bottom: 0;
						width: 98%;
						font-weight: 700;
						font-size: 30px;
						&:before {
							background: #efefef;
							content: "";
							width: 100%;
							height: 100%;
						}
					}

					h4, p{
						width: 100%;
						opacity: 0.6;
						margin: 0;
						color: #000;
						background-color: white;
					}

					img.slide-only {
						background: no-repeat center center; 
						-webkit-background-size: cover;
						-moz-background-size: cover;
						-o-background-size: cover;
						background-size: cover;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						width: 100%;
						height: 100%;
					}
					&:first-child {
						-webkit-transform: rotate(7deg);
						transform: rotate(7deg);
					}
					&:last-child {
						-webkit-transform: rotate(-7deg);
						transform: rotate(7deg);
					}
				}
			}
		}
		.fixing-regressions {
			ul.nav.nav-tabs {
				text-align: center;
				font-size: 40px;
				font-weight: bold;
				margin: 60px auto 60px auto;
				width: 80%;
				border-bottom: none;
				text-align: center;
				&>li {
					float: none;
					display: inline-block;
					margin: 0 20px;
					a {
						background: #ECECEC;
						border-radius: 15px;
						padding: 10px 20px;
						display: block;
						font-family: arial;
						font-weight: bold;
						color: #7f7f7f;
						text-decoration: none;
						text-shadow: 0px 1px 0px #fff;
						border: 1px solid #a7a7a7;
						margin: 0px auto;
						box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
						-webkit-transition: box-shadow 0.5s;
						transition: box-shadow 0.5s;
					}
					a i {
						float: right;
						margin-top: 2px;
					}
					a:hover {
						box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
					}
					a:active {
						box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
						background: -webkit-linear-gradient(top, #d1d1d1 0%, #ECECEC 100%);
					}
				}
			}
			.tab-content {
				width: 80%;
				margin: auto;
				font-size: 30px;
				font-weight: 400;
				text-align: left;
				h2 {
					text-align: center;
					font-size: 50px;
					font-weight: 700;
					margin-bottom: 40px;
				}
				#wisdom {
					text-align: center;
				}
			}
		}
		.after-measure {
			background-color: #3498db;
			color: white;
			h1 {
				margin-top: 40px;
				font-size: 60px;
			}
			ul.list-group {
				text-align: left;
				width: 70%;
				margin: 40px auto 0 auto;
				&>.list-group-item {
					border: none;
					margin: 10px 0 0 0;
					padding: 0;
					background: none;
					font-weight: 400;
					font-size: 35px;
					.number {
						margin: 10px;
						&:after {
							content: "."
						}
					}
				}
			}
		}
		.graphs {
			.carousel {
				height: 100%;
				.carousel-inner {
					height: 100%;
					&>.item {
						position: absolute;
						display: block;
						top: 0;
						left: 0;
						bottom: 0;
						left: 0;
					}
				}
			}
		}
		.browser-perf {
			ol {
				width: 70%;
				font-size: 40px;
				text-align: left;
				margin: 20px auto 80px auto;
				list-style: none;
				text-align: center;
				li {
					display: inline-block;
					color: white;
					&:after {
						width: 0;
						height: 0;
						border-top: 44px solid transparent;
						border-bottom: 44px solid transparent;
						border-left: 30px solid #5cb85c;
						content: "";
						display: inline-block;
						position: relative;
						top: 30px;
					}
					&:first-child {
						&:after {
							border-left: 30px solid #f0ad4e;
						}
						em {
							background-color: #f0ad4e;
						}
					}
					&:last-child {
						&:after {
							border-left: 30px solid #d9534f !important;
						}
						em {
							background-color: #d9534f;
						}
					}
					em {
						background-color: #5cb85c;
						padding: 20px;
						margin: 0;
						font-weight: bold;
						font-style: normal;
						height: 20px;
					}
				}
			}
			.row {
				&>div {
					height: 100%;
					&:first-child {
						border-right: 3px SOLID #ccc;
					}
					&:last-child {
						border-left: 3px SOLID #ccc;
					}
				}
				font-weight: 400;
				font-size: 30px;
				width: 70%;
				margin: auto;
			}
		}
		.perfjankie {
			ul {
				width: 60%;
				margin: auto;
				font-weight: 400;
				font-size: 25px;
				text-align: left;
			}
			h1 {
				margin-top: 40px;
			}
		}
		.demo {
			ul {
				width: 60%;
				margin: auto;
				text-align: left;
			}
			.tardis{
				position: absolute;
				right: 1%;
				width: 200px;				
				-webkit-transition: all 1s ease-in-out;
				-moz-transition: all 1s ease-in-out;
				-o-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				transition: all 1s ease-in-out;

				-webkit-animation-direction: normal;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: 20;
				-webkit-animation-name: blink;
				-webkit-animation-timing-function: ease-in-out;

				-moz-animation-direction: normal;
				-moz-animation-duration: 2s;
				-moz-animation-iteration-count: 20;
				-moz-animation-name: blink;
				-moz-animation-timing-function: ease-in-out;    
			}
		}
		.takeaways {
			font-family: Lustria;
			background-color: white;
			h1 {
				margin: 70px 0 70px 0;
			}
			ul {
				width: 60%;
				margin: auto;
				font-weight: 400;
				font-size: 30px;
				text-align: left;
			}
		}
		.thankyou {
			background-color: white;
			.row {
				margin: 70px 0 0 0;
				div {
					&:first-child {
						border-right: 4px #ccc solid;
						h1{
							font-size: 40px;
						}
					}
					h1 {
						margin: 70px 0 70px 0;
						font-size: 50px;
						font-family: Lustria;
					}
					ul {
						text-align: center;
						width: 60%;
						margin: 10px auto 30px auto;
						font-weight: 400;
						font-size: 25px;
						text-align: left;
						li{
							text-align: center;
							img{
								width: 25px;
								height: 25px;
							}
						}
					}
				}
			}
		}
	}
}


@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
