.site {
	.slide-only {
		display: none !important;
	}
	.step {
		opacity: 1 !important;
	}
	.slides {
		&>li {
			margin-bottom: 40px;
		}
		.title {
			background-color: #3498db;
			margin-top: -20px;
			padding-top: 200px;
			background-attachment: relative;
			background-position: center center;
			min-height: 650px;
			width: 100%;
			-webkit-background-size: 100%;
			-moz-background-size: 100%;
			-o-background-size: 100%;
			background-size: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			color: white;
			h1 {
				margin-top: 60px;
				margin-bottom: 15px;
				font-size: 50px;
				font-weight: 400;
				letter-spacing: 1px;
			}
			h3 {
				font-weight: 300;
			}
		}
		.why-performance, .what-regression {
			text-align: center;
			h1 {
				font-weight: 300;
			}
		}
		.what-regression {
			h1 {
				margin-bottom: 30px;
			}
			.row {
				.col-lg-4 {
					background-image: none !important;
				}
			}
			img {
				height: 200px;
				padding: 10px;
			}
		}
		.fixing-regressions {
			background: white;
			box-shadow: 0 0 20px #000;
			padding: 3em;
			.tool {
				height: 200px;
				&.chrometool {
					-webkit-transform: translateY(20px) rotate(-10deg);
					transform: translateY(20px)  rotate(-10deg);
				}
			}
			#wisdom {
				text-align: center;
				img {
					height: 200px;
					margin: 2em;
				}
			}
		}
		.after-measure {
			.list-group-item {
				border: 2px #ccc solid;
				margin: 5px 0;
			}
			.number {
				padding: 0.5em 1em;
				margin: 10px 10px -10px 10px;
				background-color: #3498db;
				border-radius: 10px;
				font-weight: 700;
				color: white;
				position: relative;
				left: -40px;
				font-size: 0.8em;
			}
		}
		.graphs {
			text-align: center;
			img{
				border: SOLID 3px #ccc;
			}
		}
		.perfjankie {
			.row {
				.col-lg-6 {
					text-align: center;
					&:first-child {
						border-right: 3px #ccc solid;
					}
				}
			}
		}
		.browser-perf {
			padding: 10px;
			.row {
				width: 70%;
				margin: auto;
				text-align: center;
			}
			ol {
				font-size: 20px;
				text-align: left;
				margin: 40px auto 20px auto;
				list-style: none;
				text-align: center;
				li {
					display: inline-block;
					color: white;
					margin: 10px;
					&:after {
						width: 0;
						height: 0;
						border-top: 22px solid transparent;
						border-bottom: 22px solid transparent;
						border-left: 10px solid #5cb85c;
						content: "";
						display: inline-block;
						position: relative;
						top: 14px;
					}
					&:first-child {
						&:after {
							border-left: 10px solid #f0ad4e;
						}
						em, span {
							background-color: #f0ad4e;
						}
					}
					&:last-child {
						&:after {
							border-left: 10px solid #d9534f !important;
						}
						em, span {
							background-color: #d9534f;
						}
					}
					span, em {
						background-color: #5cb85c;
						padding: 10px;
						margin: 0;
					}
					em {
						margin: 0 -4px 0 -10px;
					}
				}
			}
		}
		.thankyou {
			font-family: Lustria;
			.row {
				div {
					h1{
						font-size: 50px;
					}
					li{
						font-size: 20px;
					}
					width: 100%;
				}
			}
			.contact{
				width: 20px;
				height: 20px;
			}

		}
	}
}